env/
__pycache__/
build/
*.log
*.egg-info

# self add
checkpoint/
docs/_build
docs/examples
docs/experiments
wandb
docs copy
docs/api/generated
wandb
test
benchmarks/FB15K/type_constrain.txt
benchmarks/FB15K237/type_constrain.txt
benchmarks/WN18RR/type_constrain.txt
best_network.pth
model.pth
transr_transe.json
data
test.py