sphinx==7.1.2
sphinx-autopackagesummary==1.3
    # self add
sphinx-gallery==0.13.0
    # self add
sphinx-copybutton
    # self add
pillow
    # self add
trojanzoo_sphinx_theme
# git+https://github.com/ain-soph/trojanzoo_sphinx_theme.git
    # self add
sphinxcontrib-bibtex
    # self add
sphinx-prompt
    # self add
sphinxcontrib-katex
    # self add
typing-extensions
    # self add